<html>
    <head>
        <style>
            *
            {
                margin: 0;
                padding: 0;
            }
            body
            {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
            .cen
            {
                margin-top: 200px;
              
            }
        </style>
    </head>
    <body>
         <center class="cen"><h1><a style="text-decoration: none;" href="users_home">Book now</a></h1></center>
    </body>
</html>